{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ahmed Emad</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<!-- ################################################################### -->

	    {% include 'base/navbar.html' %}

	<!-- ################################################################### -->
<br>


<div class="container">
    <h2>Car Marketplace</h2>
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/RsOQAPnC5Vs" frameborder="0" allowfullscreen></iframe>

<ul>
  <li><strong>Project Type:</strong> Django-based web application</li>
  <br>
  <li><strong>Main Features:</strong> Manage user profiles, car listings, and locations</li>
  <br>
  <li><strong>Functionality:</strong>
    <br>
    <ul>
      <li>User registration and profile management</li>
      <br>
      <li>Create, post, filter, and like car listings</li>
      <br>
    </ul>
  </li>
  <br>
  <li><strong>Implementation:</strong>
    <br>
    <ul>
      <li>Used models, forms, and signals</li>
      <br>
      <li>Integrated custom widgets</li>
      <br>
      <li>Optimized data flow with Django signals</li>
      <br>
    </ul>
  </li>
  <br>
  <li><strong>Goal:</strong> Seamless and interactive user experience in the marketplace</li>
</ul>

    <h4>Technologies Used</h4>
    
<ul>
  <li><strong>Framework:</strong> Django</li>
  <br>
  <li><strong>Architecture:</strong> MVT (Model-View-Template)</li>
  <br>
  <li><strong>Authentication:</strong> Django built-in authentication system</li>
  <br>
  <li><strong>Features:</strong> Django models, forms, signals, and custom widgets</li>
  <br>
  <li><strong>Interactivity:</strong> Django signals for real-time behavior and data flow</li>
  <br>
  <li><strong>Frontend:</strong> HTML, CSS and Bootstrap</li>
  <br>
  <li><strong>Database:</strong> SQLite3</li>
</ul>
    <a href="https://github.com/mellooz/AutoMax" class="btn btn-dark" target="_blank">View on GitHub</a>
</div>
<br>
</body>
</html>