{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ahmed Emad</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<!-- ################################################################### -->

	    {% include 'base/navbar.html' %}

	<!-- ################################################################### -->
<br>


<div class="container">
    <h2>Chat App</h2>
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/N2demNQKuls" frameborder="0" allowfullscreen></iframe>
    <ul>
        <li><strong>Framework:</strong> Django and Django Channels</li>
        <br>
        <li><strong>Communication:</strong> WebSockets for instant communication</li>
        <br>
        <li><strong>Event Handling:</strong> AsyncWebsocketConsumer for handling events</li>
        <br>
        <li><strong>Real-Time Interaction:</strong> Real-time message exchange between users in the same room</li>
        <br>
        <li><strong>Technology:</strong> Channel Layers for facilitating interactive communication</li>
    </ul>
    <h4>Technologies Used</h4>
    <ul>
        <li><strong>Backend Framework:</strong> Django</li>
        <br>
        <li><strong>Real-Time Communication:</strong> Django Channels, WebSockets</li>
        <br>
        <li><strong>Event Handling:</strong> AsyncWebsocketConsumer</li>
        <br>
        <li><strong>Real-Time Interaction:</strong> Channel Layers (using in-memory backend)</li>
        <br>
        <li><strong>Frontend:</strong> JavaScript, HTML, CSS (for the chat UI)</li>
    </ul>
    <a href="https://github.com/mellooz/ChatApp" class="btn btn-dark" target="_blank">View on GitHub</a>
</div>
<br>
</body>
</html>