{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ahmed Emad</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<!-- ################################################################### -->

	    {% include 'base/navbar.html' %}

	<!-- ################################################################### -->
<br>


<div class="container">
    <h2>E-Commerce Platform</h2>
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/GQCqNxYShUc" frameborder="0" allowfullscreen></iframe>
    <ul>
        <li><strong>Framework:</strong> Django</li>
        <br>
        <li><strong>Features:</strong>
            <br>
          <ul>
            <li>Dynamic product listings</li>
            <br>
            <li>Shopping cart</li>
            <br>
            <li>Checkout process</li>
          </ul>
        </li>
        <br>
        <li><strong>Order Management:</strong> Efficiently handles product inventory, customer data, and shipping details</li>
        <br>
        <li><strong>User Authentication:</strong> Secure login and registration for users</li>
        <br>
        <li><strong>Payment Integration:</strong> PayPal for payment processing</li>
        <br>
        <li><strong>Data Models:</strong> Designed relational models and views for inventory and customer data</li>
    </ul>
    <h4>Technologies Used</h4>
    <ul>
        <li><strong>Backend Framework:</strong> Django</li>
        <br>
        <li><strong>Authentication:</strong> Django built-in authentication system</li>
        <br>
        <li><strong>Payment Integration:</strong> PayPal API</li>
        <li><strong>Frontend:</strong> HTML, CSS, JavaScript, Bootstrap</li>
        <br>
        <li><strong>Database:</strong> SQLite3</li>
        <br>
        <li><strong>Models:</strong> Django relational models for product inventory and customer data</li>
        <br>
        <li><strong>Order Management:</strong> Custom views and logic for managing orders and shipping details</li>
    </ul>
    <a href="https://github.com/mellooz/E-Commerce" class="btn btn-dark" target="_blank">View on GitHub</a>
</div>
<br>
</body>
</html>