{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ahmed Emad</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<!-- ################################################################### -->

	    {% include 'base/navbar.html' %}

	<!-- ################################################################### -->
<br>


<div class="container">
    <h2>Network Projects</h2>

    <p>This repository contains various network-related tasks and projects that involve network protocols, configuration, and communication techniques. The projects are designed to help users understand different aspects of computer networks, such as routing, switching, and network security.</p>

    <h3><strong>Projects:</strong></h3>
    
    <ul>
      <li><strong>Network Configuration:</strong> Configuration of routers, switches, and network devices to ensure connectivity and communication.</li>
      <br>
      <li><strong>Routing and Switching:</strong> Projects that demonstrate routing protocols (like RIP, OSPF) and switching techniques used in enterprise networks.</li>
      <br>
      <li><strong>Network Security:</strong> Includes tasks focused on securing network communications using firewalls, VPNs, and encryption protocols.</li>
      <br>
      <li><strong>Network Monitoring:</strong> Utilization of tools to monitor network traffic, detect potential issues, and ensure network health.</li>
    </ul>
    
    <h4><strong>Technologies Used</strong></h4>
    <ul>
      <li>Networking protocols: TCP/IP, DNS, HTTP, FTP</li>
      <br>
      <li>Routing protocols: RIP, OSPF</li>
      <br>
      <li>Networking Tools: Wireshark, Ping</li>
      <br>
      <li>Configuration Tools: Cisco Packet Tracer</li>
      <br>
      <li>VLAN (Virtual Local Area Network): For segmenting network traffic and enhancing network management</li>
    </ul>
    <a href="https://github.com/mellooz/Network_Tasks" class="btn btn-dark" target="_blank">View on GitHub</a>
</div>
<br>
</body>
</html>